@import '~antd/dist/antd.css';

.home_page {
    padding: 1em;
    font-size: 2em;
}

.text_content {
    border: 1px solid black;
    padding: 1em;
    margin-top: 2em;
}

.text_line {
    font-size: 1.1em;
    margin: 1em, 0.5em, 1em, 0.5em;
}

.content {
    padding: 1em;
}

.editable-row .ant-form-item-explain {
    position: absolute;
    top: 100%;
    font-size: 12px;
  }

  .cancel {
    cursor: pointer;
    color: brown;
  }

.upload_component {
    display: block;
    float: right;
}